h1{
    font-family:League spartan;
    color:#ffa511;
    text-align:center;
    font-size:55px;
    font-weight:900;
    letter-spacing:2px;
    line-height:1.5;
    text-decoration:teal double underline;
    text-transform:uppercase;
}

/* practice Qs 4 */

div[id="myid"] p {
    color : green;
}

#myid p{
    color: green;
}