h1{
    font-weight: bold;    
    letter-spacing: normal;
    font-size:50px;
    font-family:avent garde,papyrus;

}

h2{
    font-weight: bold;  
    text-decoration: purple line-through;
}

h3{
    font-weight: 700;
    text-decoration: dotted rgb(83, 10, 83) overline;
}

p{
    font-weight:normal;  
    line-height: 1.25;
    font-size:15px;
}
a{
    text-decoration: none;
}