h2{
    color:#11b6df;   
    /* background-color: rgb(241, 115, 115);  */
}
/* p {
    color : rgb(241, 10, 164);
    background-color: rgb(171, 241, 101);
}

button {
    color : #17b492;
    background-color: rgb(88, 5, 166);
} */