* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #34445b;
}

.topbar {
    height: 50px;
    background-color: #073477;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 18px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    font-size: 23px;
    margin-right: 15px;
}

.logo-icon {
    color: #25a9e0;
    font-size: 22px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}

.logo-section sup {
    font-size: 9px;
}

.top-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 21px;
}

.profile {
    height: 36px;
    border: 1px solid #b8c8e2;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 3px;
    font-size: 14px;
}

.main-container {
    display: flex;
    min-height: calc(100vh - 50px);
}

.sidebar {
    width: 245px;
    background-color: #0b4088;
    color: white;

    padding-top: 12px;
}

.side-item {
    height: 52px;
    padding: 0 25px;

    display: flex;
    align-items: center;

    font-size: 15px;
    color: #e5edfa;
}

.side-item span {
    margin-left: auto;
}

.side-item:hover {
    background-color: #164e96;
}

.settings-title {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #b9c9e4;

    padding: 20px 25px 8px;
}

.sub-item {
    padding: 8px 0 8px 62px;
    font-size: 14px;
    color: #e2eafa;
}

.sub-item.active {
    background-color: #07509f;
    margin: 5px 12px;
    padding-left: 50px;

    border-radius: 5px;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 25px 18px;
    overflow: hidden;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1 {
    font-size: 25px;
    font-weight: 400;
    color: #303d50;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.add-chart {
    background-color: #ff7425;
    color: white;

    border: none;
    border-radius: 3px;

    padding: 13px 20px;
    font-size: 14px;
}

.period {
    background: white;
    border: 1px solid #e0e6ef;
    padding: 6px 12px;
    min-width: 205px;

    font-size: 13px;
    color: #34445b;
}

.period small {
    color: #a5afbe;
}

.period span {
    float: right;
}
.tabs {
    height: 75px;

    display: flex;
    align-items: center;
    gap: 60px;

    border-bottom: 1px solid #e1e7ef;
}

.tab {
    height: 75px;

    display: flex;
    align-items: center;

    color: #68778d;
    font-size: 16px;
}

.active-tab {
    color: #1597d4;
    border-bottom: 3px solid #1597d4;
}

.summary-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    margin-top: 23px;
}

.summary-card {
    height: 84px;

    background: white;
    border: 1px solid #e0e6ef;
    border-radius: 5px;

    padding: 13px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-card h2 {
    font-size: 27px;
    color: #34445b;
}

.summary-card p {
    margin-top: 3px;
    color: #758398;
    font-size: 14px;
}

.green {
    color: #62bd2b;
    margin-left: 5px;
}

.red {
    color: #ff5959;
    margin-left: 5px;
}

.card-icon {
    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
}

.green-icon {
    background-color: #f0f9e8;
    color: #64c52b;
}

.red-icon {
    background-color: #fff0f0;
    color: #ff6565;
}

.blue-icon {
    background-color: #f1f5fb;
    color: #91a4c2;
}

.chart-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;

    margin-top: 25px;
}

.chart-box {
    background: white;
    border: 1px solid #e0e6ef;
    border-radius: 5px;
}

.cost-box,
.leads-box {
    height: 360px;
}

.chart-header {
    display: flex;
    justify-content: space-between;

    padding: 17px;
}

.chart-header h3 {
    font-size: 16px;
    color: #34445b;
}

.chart-header h3 span {
    font-size: 12px;
}

.chart-header p {
    font-size: 12px;
    color: #9aa8bb;
    margin-top: 4px;
}

.chart-buttons {
    color: #667b98;
    font-size: 20px;
}

.cost-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px 20px;
}

.donut {
    width: 270px;
    height: 270px;

    border-radius: 50%;

    background: conic-gradient(
        #83a0f3 0deg 122deg,
        #a5db51 122deg 295deg,
        #ffae4d 295deg 360deg
    );

    position: relative;
}

.donut::after {
    content: "";

    position: absolute;

    width: 185px;
    height: 185px;

    background: white;

    border-radius: 50%;

    top: 42px;
    left: 42px;
}

.donut-center {
    position: absolute;

    z-index: 2;

    top: 105px;
    left: 0;
    right: 0;

    text-align: center;
}

.donut-center strong {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

.donut-center span {
    font-size: 12px;
    color: #9aa8bb;
}

.legend {
    width: 280px;
}

.legend div {
    margin: 22px 0;
    font-size: 13px;
    color: #66778e;
}

.legend b {
    float: right;
    font-weight: normal;
}

.legend small {
    float: right;
    margin-left: 10px;
}

.dot {
    display: inline-block;

    width: 15px;
    height: 15px;

    border-radius: 3px;

    margin-right: 10px;
}

.blue {
    background: #83a0f3;
}

.green-dot {
    background: #a5db51;
}

.orange {
    background: #ffae4d;
}

.bar-chart {
    height: 235px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    padding: 15px 30px 0;

    border-bottom: 1px solid #e2e8f0;
}

.bar-group {
    width: 80px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bar {
    height: 190px;
    width: 74px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: #e7edf5;
    border-radius: 6px 6px 0 0;
}

.bad {
    width: 100%;
    background: #819cf0;
}

.total {
    width: 100%;
    background: #e5ebf3;
}

.bar-group > span {
    margin-top: 12px;
    font-size: 12px;
    color: #66778e;
}

.chart-legend {
    display: flex;
    gap: 25px;

    padding: 12px 25px;

    font-size: 13px;
    color: #68788e;
}

.chart-legend i {
    display: inline-block;

    width: 15px;
    height: 15px;

    margin-right: 7px;

    border-radius: 3px;
}

.light-blue {
    background: #e5ebf3;
}

.dark-blue {
    background: #819cf0;
}

.bottom-chart {
    height: 290px;
    margin-top: 17px;
}

.large-bars {
    height: 165px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    padding: 10px 50px;

    border-bottom: 1px solid #e2e8f0;
}

.large-group {
    height: 145px;

    display: flex;
    align-items: flex-end;

    gap: 7px;
}

.large-bar {
    width: 14px;
    border-radius: 2px 2px 0 0;
}

.blue-bar {
    background: #819cf0;
}

.green-bar {
    background: #91cf35;
}

.orange-bar {
    background: #ff9d42;
}

.bottom-legend {
    display: flex;
    justify-content: center;
    gap: 30px;

    padding: 15px;

    color: #198dcc;
    font-size: 14px;
}

.help {
    position: fixed;

    right: 18px;
    bottom: 4px;

    background: #102f70;
    color: white;

    padding: 12px 20px;

    border-radius: 5px 5px 0 0;

    font-size: 14px;
}
.hide-sidebar {
    width: 0;
    overflow: hidden;
    padding: 0;
}

.hide-sidebar .side-item,
.hide-sidebar .sub-item,
.hide-sidebar .settings-title {
    display: none;
}

.new-chart {
    margin-top: 20px;
    height: 280px;
}

.remove-chart {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: #777;
}

.new-chart-content {
    height: 180px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    gap: 35px;

    padding: 20px;
}

.simple-bar {
    width: 30px;
    background: #819cf0;
    border-radius: 4px 4px 0 0;
}

.period {
    position: relative;
    cursor: pointer;
}

.selected-period {
    margin-top: 3px;
}

.period-options {
    display: none;

    position: absolute;

    top: 70px;
    left: 0;

    width: 100%;

    background: white;

    border: 1px solid #ddd;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    z-index: 100;
}

.period-options div {
    padding: 12px;

    font-size: 13px;
}

.period-options div:hover {
    background: #f2f5fa;
}

.period.open .period-options {
    display: block;
}

.selected-menu {
    background-color: #164e96;
    color: white;
}

.more {
    cursor: pointer;
}

.more:hover {
    color: #1597d4;
}

